.functional-header-text-button {
  text-align: left;
  padding: 20px;
}
.functional-header-text-button p {
  line-height: 24px;
}
.functional-titles {
  font: var(--unnamed-font-style-italic) normal
    var(--unnamed-font-weight-normal) 18px/24px
    var(--unnamed-font-family-archivo);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: left;
  font: italic normal normal 18px/24px Archivo;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}
.intermediate-image {
  display: flex;
  flex-direction: column;
  margin: 120px 0;
}
.functional-large-circle {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  border: 24px solid #21ce99;
  width: 287px;
  height: 287px;
  border-radius: 287px;
  z-index: 10;
}
.functional-small-circle {
  width: 100px;
  height: 100px;
  border: 40px solid #27dba419;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border-radius: 50%;
  margin-top: -100px;
}
.functional-large-image-container {
  width: 249px;
  height: 249px;
  /* background: transparent url('img/linus-mimietz-UzbvepPfb14-unsplash.png') 0% 0% no-repeat padding-box; */
  border-radius: 220px;
  opacity: 1;
}
