.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: normal normal normal 16px/24px Archivo;
}

.functional-header-text-button {
  text-align: left;
  padding: 20px;
}
.functional-header-text-button p {
  line-height: 24px;
}
.functional-titles {
  font: var(--unnamed-font-style-italic) normal
    var(--unnamed-font-weight-normal) 18px/24px
    var(--unnamed-font-family-archivo);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: left;
  font: italic normal normal 18px/24px Archivo;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}
.functional-intermediate-image {
  display: flex;
  flex-direction: column;
  margin: 60px 0;
}
.functional-first-encircled-img {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  border: 24px solid #21ce99;
  width: 287px;
  height: 287px;
  border-radius: 287px;
  z-index: 10;
}
.functional-first-blurred-circle {
  width: 100px;
  height: 100px;
  border: 40px solid #27dba419;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border-radius: 50%;
  margin-top: -100px;
}
.functional-large-image-container {
  width: 249px;
  height: 249px;
  /* background: transparent url('img/linus-mimietz-UzbvepPfb14-unsplash.png') 0% 0% no-repeat padding-box; */
  border-radius: 220px;
  opacity: 1;
}
.last-image {
  display: flex;
  flex-direction: column;
  margin: 120px 0 -90px 0;
}
.functional-third-circle {
  width: 60px;
  height: 60px;
  border-top: 40px solid #21ce99;
  border-right: 40px solid #21ce99;
  border-bottom: 40px solid #21ce99;
  margin-left: -60px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-top: 295px;
  position: absolute;
}

.functional-third-blurred-circle {
  width: 114px;
  height: 114px;
  border: 56px solid #27dba419;
  border-radius: 50%;
  margin-top: -100px;
}
.functional-fourth-circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 24px solid #21ce99;
  border-radius: 50%;
  z-index: 1;
  right: 10px;
  margin-top: 70px;
}
.functional-fith-image {
  width: 300px;
  height: 300px;
  align-self: flex-end;
  margin-bottom: 160px;
  margin-top: -150px;
  z-index: 10;
}
.functional-second-circle-container {
  display: flex;
  margin-top: -300px;
}

.functional-second-circle {
  width: 45px;
  height: 45px;
  border: 32px solid #21ce99;
  border-radius: 287px;
  margin-top: 50px;
  z-index: 5;
}

.functional-second-blurred-circle {
  width: 95px;
  height: 95px;
  border: 40px solid #27dba419;
  border-radius: 50%;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  margin-left: -30px;
}

.functional-second-image {
  width: 171.5px;
  height: 171.5px;
  align-self: flex-end;
  z-index: 10;
}

.functional-second-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
}

.functional-fourth-image {
  width: 122px;
  height: 122px;
  margin-bottom: 10px;
}

.info-with-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
}

.checked-info {
  display: flex;
  flex-direction: column;
}

.shadowed-section {
  width: 100% !important;
  max-width: unset !important;
  padding: 20px;
  margin-top: 50px;
  background-color: #aaaaaa19;
}

.functional-qualities-top-section {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: center;
}

/* .pill-position {
  top: -40px;
  left: 170px;
} */

.functional-cursive-text {
  width: 323px;
  height: 71px;
  font: var(--unnamed-font-style-italic) normal
    var(--unnamed-font-weight-normal) 18px/24px
    var(--unnamed-font-family-archivo);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: left;
  font: italic normal normal 18px/24px Archivo;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
  margin-top: 10;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .checked-with-icons {
    flex-direction: column;
    column-count: 2;
  }

  .bicolor-titled-container{
      text-align: center;
      max-width: 60%;
      margin-top: 0px;
  }

  .functional-cursive-text{
    width: 452px;
    height: 60px;
  }

  .functional-qualities-top-section {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    column-gap: 100px;
    justify-content: center;
    align-items: center;
    column-count: 2;
  }

  .functional-button.functional {
    align-self: start;
    margin-top: 30px;
  }

  .functional-intermediate-image {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .functional-fith-image {
    width: 400px;
    height: 400px;
    align-self: center;
    margin-top: 30px;
    margin-left: 150px;
  }

  .functional-fourth-circle {
    right: 200px;
    margin-top: 230px;
  }

  .functional-third-blurred-circle {
    width: 170px;
    height: 170px;
    position: absolute;
    /* margin-left: 100px; */
    margin-top: 10px;
  }

  .functional-third-circle {
    left: 30px;
    margin-left: -50px;
    margin-top: 417px;
  }

  .info-with-image {
    align-self: flex-start;
  }

  .checked-info,
  button.functional {
    align-self: flex-start;
  }

  button.functional {
    margin-left: 110px !important;
  }

  .shadowed-section {
    padding: 0;
  }

  .second-info .functional-intermediate-image {
    margin-left: 270px;
  }

  /* .pill-position {
    top: -40px;
    left: 470px;
  } */
}

@media screen and (min-width: 1200px) {

  .functional-cursive-text{
    width: 573px;
    height: 60px;
  }

  .functional-qualities-top-section {
    display: block;
    flex-direction: row;
    flex-flow: row wrap;
    column-gap: 32px;
    justify-content: center;
    align-items: center;
    column-count: 4;
  }

  .checked-with-icons {
    flex-direction: column;
    column-count: 2;
  }

  .info-with-image {
    flex-direction: row;
  }

  .functional-pill {
    top: 250px !important;
    left: 1350px !important;
  }

  .info-with-image {
    align-self: center;
  }

  .first-info {
    margin-top: 150px;
  }

  .second-info {
    flex-direction: row-reverse;
  }

  .second-info .checked-info {
    margin-left: 100px;
  }

  .functional-fith-image {
    width: 400px;
    height: 400px;
    align-self: center;
    margin-top: 0;
    margin-left: 140%;
  }

  .functional-third-circle {
    left: 30px;
    margin-left: -50px;
    margin-top: 417px;
  }

  .functional-fourth-circle {
    right: 10%;
    margin-top: 230px;
  }

  .functional-third-blurred-circle {
    width: 170px;
    height: 170px;
    position: absolute;
    margin-left: 100px;
    margin-top: 10px;
  }

  .shadowed-section {
    padding: 20px;
  }

  .shadowed-section {
    align-items: center;
    justify-content: center;
  }

  .shadowed-section .checked-info {
    margin-left: -100px;
    margin-right: 40px;
  }

  /* .pill-position {
    top: 240px;
    left: 1300px;
  } */
}
