.footer-links {
  list-style-type: none;
  padding-left: 0px;
}
.footer-nav ul li {
  padding: 1em 0;
}
.footer-link {
  text-decoration: none;
  color: #ffffff;
}
.a11y-button.footer-link {
  color: #000;
}
.footer-link:hover {
  outline: 5px solid yellow;
}
