.functional-ilustration-container {
    width: 350px;
    height: 520px;
    overflow-y: hidden;
  }
  .functional-ilustration {
    width: 343px;
    height: 343px;
  }
  
  .functional-ilustration-small-circle {
    position: absolute;
    top: -20px;
    left: 40px;
    width: 94px;
    height: 94px;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23FFFFFF' stroke-width='15' stroke-dasharray='4' stroke-dashoffset='100' stroke-linecap='butt'/%3e%3c/svg%3e");
  }
  
  .functional-ilustration-large-circle {
    position: absolute;
    top: 295px;
    left: -35px;
    width: 260px;
    height: 270px;
    border-radius: 50%;
    z-index: 1;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='150' ry='150' stroke='%23FFFFFF' stroke-width='20' stroke-dasharray='4.5' stroke-dashoffset='10' stroke-linecap='butt'/%3e%3c/svg%3e");
  }
  