.a11y-qualities {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-top: 37px;
  align-items: center;
}
.a11y-qualities p {
  font: normal normal normal 16px/24px Archivo;
}
.a11y-qualities h3 {
  font: normal normal bold 18px/32px Archivo;
}
.a11y-qualities-top-section {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: center;
}
.a11y-qualities-section {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: center;
}
.why-choose-us-qualities {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .a11y-qualities-section {
    flex-direction: row;
    column-gap: 32px;
  }
  .a11y-qualities-top-section {
    flex-direction: row-reverse;
    column-gap: 32px;
  }
}
@media (min-width: 1200px) {
  .a11y-qualities {
    row-gap: 0px;
  }
  .a11y-qualities-section {
    display: flex !important;
    flex-direction: row;
    column-gap: 32px;
    margin-top: 29px;
    justify-content: center;
  }
  .a11y-qualities-top-section {
    flex-direction: row;
    column-gap: 32px;
  }
  .why-choose-us-qualities {
    display: flex;
    flex-direction: row;
    margin-top: 170px;
    column-gap: 140px;
  }
}
