.achievement-card{
    height: 123px;
    width: 343px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 16px;
    align-items: left;
    opacity: 1;
    box-shadow: 0px 3px 40px #AAAAAA19;
}

.achievement-card-ellipse{
    width: 60px;
    height: 60px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 50%;
    opacity: 1;
}

.achievement-card-text-container{
    width: 224px;
    height: 68px;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.achievement-card-img{
    display: flex;
    align-items: center;
    justify-content: center;
}