.form-group{
margin-top: 1.5em;
}
.form-input{
    height:2em;
    margin-top:0.5em;
    background-color: #000;
    border:none;
    border-bottom: #595959 thin solid;
    color:#7C7C7C;
    font:inherit;
}