.presentation-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.presentation-main h1{
    width: 248px;
    font: normal normal 900 39px/49px Archivo;
    margin-bottom: 16px;
    letter-spacing: 0px;
    text-align: center;
}

.presentation-main text{
    font: normal normal normal 18px/24px Archivo;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .presentation-main h1{
        width: 492px;
        font: normal normal 900 56px/64px Archivo;
        margin-bottom: 16px;
        letter-spacing: 0px;
    }

    .presentation-main text{
        font: normal normal normal 24px/32px Archivo;
    }
}

@media screen and (min-width: 1200px) {
    .presentation-main h1{
        width: 664px;
        font: normal normal 900 64px/72px Archivo;
        margin-bottom: 16px;
        letter-spacing: 0px;
    }

    .presentation-main text{
        font: normal normal normal 24px/32px Archivo;
    }
}