.home-header-text-button {
  text-align: left;
  padding: 20px;
}
.home-header-text-button p {
  line-height: 24px;
}
.a11y-home-presentation-container {
  margin-top: 120px;
}

.a11y-home-why-choose-us-clients {
  display: flex;
  justify-content: center;
}

.home-our-services-section {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .a11y-home-why-choose-us-clients {
    margin-top: 170px;
    display: flex;
  }
  .home-our-services-section {
    margin-left: 64px;
  }
}
@media (min-width: 1200px) {
  .a11y-home-presentation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 99px;
    margin-top: 0px;
  }
  .a11y-home-why-choose-us-clients {
    margin-top: 170px;
    display: flex;
  }
  .home-our-services-section {
    margin: auto;
    margin-top: 186px;
    align-items: center !important;
  }
}
