.page-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.page-top{
    margin-top: 135px;
}

.intermediate-image{
    display: flex;
    flex-direction: column;
    margin: 120px 0;
}

.last-image{
    display: flex;
    flex-direction: column;
    margin: 120px 0 -90px 0;
}

.automation-first-encircled-img{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    border: 24px solid #21CE99;
    width: 287px;
    height: 287px;
    border-radius: 287px;
    z-index: 10;
}

.automation-first-image {
    width: 249px;
    height: 249px;
}

.automation-first-blurred-circle{
    width: 100px;
    height: 100px;
    border: 40px solid #27DBA419;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 50%;
    margin-top: -100px;
}

.automation-second-image{
    width: 171.5px;
    height: 171.5px;
    align-self: flex-end;
    z-index: 10;
}

.automation-second-image-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
}

.automation-fourth-image{
    width: 122px;
    height: 122px;
    margin-bottom: 10px;
}

.automation-second-circle-container{
    display: flex;
    margin-top: -300px;
}

.automation-second-circle{
    width: 45px;
    height: 45px;
    border: 32px solid #21CE99;
    border-radius: 287px;
    margin-top: 50px;
    z-index: 5;
}

.automation-second-blurred-circle{
    width: 95px;
    height: 95px;
    border: 40px solid #27DBA419;
    border-radius: 50%;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    margin-left: -30px;
}

.automation-fith-image{
    width: 300px;
    height: 300px;
    align-self: flex-end;
    margin-bottom: 160px;
    margin-top: -150px;
    z-index: 10;
}

.automation-third-circle{
    width: 60px;
    height: 60px;
    border-top: 40px solid #21CE99;
    border-right: 40px solid #21CE99;
    border-bottom: 40px solid #21CE99;
    margin-left: -60px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-top: 295px;
    position: absolute;
}

.automation-third-blurred-circle{
    width: 114px;
    height: 114px;
    border: 56px solid #27DBA419;
    border-radius: 50%;
    margin-top: -100px;
}

.automation-fourth-circle{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 24px solid #21CE99;
    border-radius: 50%;
    z-index: 1;
    right: 10px;
    margin-top: 70px;
}