.external-container {
  width: 90%;
  /* height: 700px; */
  opacity: 1;
  margin: 0 5%;

  z-index: 10;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.tool-image {
  width: 30%;
  height: 120px;
}

.tool-image:nth-child(6n + 4){
  margin-left: 10%;
}

.toolset-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.toolset-container .bicolor-titled-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .tool-image {
    width: 21%;
    height: 180px;
  }
  
  .tool-image:nth-child(6n + 4){
    margin-left: 0;
  }

  .tool-image:nth-child(8n + 5){
    margin-left: 10%;
  }
}

@media screen and (min-width: 1500px) {
  .tool-image {
    width: 13%;
    height: 210px;
  }
  
  .tool-image:nth-child(6n + 4){
    margin-left: 0;
  }

  .tool-image:nth-child(8n + 5){
    margin-left: 0;
  }

  .tool-image:nth-child(14n + 8){
    margin-left: 10%;
  }
}