.a11yBot-page-container .home-ilustration-container > div {
  width: fit-content;
  margin: 50px auto 0;
}

.a11yBot-page-container {
  display: flex;
  flex-direction: column;
  font: normal normal normal 16px/24px Archivo;
}

.a11yBot-presentation-container .privacy-policy-ilustration-container {
  margin-top: 90px;
}

.a11yBot-presentation-sign text:last-of-type {
  margin-top: 1rem;
}

.a11yBot-presentation-sign {
  margin: 0 7%;
}

/** a11yBot-presentation-container */
.a11yBot-presentation-container .privacy-policy-ilustration-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
}

.a11yBot-presentation-container .home-ilustration-container {
  width: 85%;
  margin: 0 5%;
}

.a11yBot-page-container .home-ilustration-container {
  height: 400px;
}

.a11yBot-page-container .home-ilustration {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  display: block;
}

.a11yBot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
}

/** a11yBot-features */
.a11yBot-features {
  display: flex;
  flex-wrap: wrap;
  max-width: 1020px;
  padding: 0 1rem;
}

/* #a11yBot .a11yBot-features > :nth-child(1), */
/* #a11yBot .a11yBot-features > :nth-child(2) { */
  /* height: 420px; */
/* } */

.a11yBot-features .custom-card {
  margin-top: 2rem;
}

.a11yBot-features > :last-child {
  margin-bottom: 3rem;
}

.layout-content.layout-a11yBot {
  padding: 16px 0 0;
}

/** a11yBot-tryNow */
.a11yBot-tryNow {
  width: 100%;
  background-color: #21ce99;
}

.a11yBot-tryNow-container {
  max-width: 1020px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.a11yBot-tryNow-text {
  font: normal normal 900 32px/40px Archivo;
}

/*** a11yBot-feedback  */
.a11yBot-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 36px;
}

.a11yBot-feedback-content {
  margin-bottom: 4rem;
}

.a11yBot-feedback-text {
  max-width: 564px;
  margin: 0 auto;
}

/** a11yBot-review */
.a11yBot-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  max-width: 1020px;
  padding: 0 1rem;
}

.a11yBot-review-container {
  width: 100%;
  background-color: #21ce99;
}

.a11yBot-container .a11yBot-review .bicolor-titled-container p,
.a11yBot-container .a11yBot-feedback .bicolor-titled-container p {
  font: normal normal normal 22px/28px Archivo;
}

/** @media query */
@media (max-width: 767px) {
  .a11yBot-feedback .bicolor-titled-container div {
    max-width: 500px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .a11yBot-page-container .home-ilustration-container {
    height: 380px;
  }

  .a11yBot-presentation-container .home-ilustration-container {
    width: 508px;
  }

  .a11yBot-presentation-container .page-top {
    width: 60%;
    margin: auto;
  }

  .a11yBot-presentation-container .privacy-policy-ilustration-container {
    width: 71%;
    margin: auto;
  }

  .a11yBot-container .bicolor-titled-container {
    max-width: 70%;
  }

  .a11yBot-container .bicolor-titled-container p {
    font: normal normal normal 24px/30px Archivo;
  }

  .a11yBot-features {
    margin-top: 2rem;
  }

  .a11yBot-features > :nth-child(1),
  .a11yBot-container .home-services-bicolored-text {
    z-index: 2;
  }

  .a11yBot-tryNow-container {
    flex-direction: row;
  }

  .a11yBot-tryNow-text {
    font: normal normal 900 40px/44px Archivo;
    margin: 0.22em 0;
  }

  .a11yBot-features > :nth-child(even) {
    margin-top: 4rem;
  }

  .a11yBot-features > :last-child {
    margin-bottom: 5rem;
  }

  .a11yBot-feedback-text {
    text-align: left;
    font: normal normal normal 22px/32px Archivo;
  }
}

@media screen and (min-width: 1200px) {
  /** layout */
  .layout-content.layout-a11yBot {
    background: linear-gradient(#21ce99 650px, white 20px) !important;
  }

  .a11yBot-page-container .home-ilustration-container > div {
    width: 263px;
    height: 313px;
  }

  .a11yBot-presentation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .a11yBot-presentation-container .page-top {
    width: 50%;
    margin: auto;
  }

  .a11yBot-presentation-container .privacy-policy-ilustration-container {
    width: 40%;
    margin: auto auto auto 0;
  }

  .a11yBot-presentation-container .home-ilustration-container {
    width: 100%;
    height: 499px;
  }

  .our-products-presentation-sign {
    align-items: flex-start;
  }

  .a11yBot-presentation-sign,
  .a11yBot-presentation-sign h1 {
    text-align: left;
    align-items: start;
  }

  .a11yBot-container {
    margin: 12rem auto auto;
  }

  .first-photo {
    z-index: 1;
  }

  .a11yBot-container .bicolor-titled-container p {
    font: normal normal normal 24px/30px Archivo;
  }

  .a11yBot-features {
    margin-top: 2rem;
  }

  .a11yBot-features > :nth-child(1) {
    z-index: 2;
  }

  .a11yBot-tryNow-container {
    flex-direction: row;
  }

  .a11yBot-feedback .bicolor-titled-container {
    max-width: 750px;
  }

  .a11yBot-feedback .bicolor-titled-container p {
    max-width: 750px;
  }

  .a11yBot-feedback-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1020px;
    gap: 2rem;
  }

  .a11yBot-tryNow-text {
    font: normal normal 900 40px/44px Archivo;
    margin: 0.22em 0;
  }

  .a11yBot-features > :nth-child(even) {
    margin-top: 4rem;
  }

  .a11yBot-features > :last-child {
    margin-bottom: 5rem;
  }

  .a11yBot-feedback-text {
    text-align: left;
    font: normal normal normal 22px/32px Archivo;
  }
}
