.clients-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  font: normal normal 900 32px/40px Archivo;
}
.clients-img-row {
  display: flex;
  column-gap: 5%;
}
.clients-img-card {
  height: 120px;
  width: 165px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 40px #aaaaaa19;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
.clients-img {
}
.clients-img-container {
}
@media (min-width: 768px) and (max-width: 1200px) {
  .clients-img-card {
    width: 296px;
    height: 120px;
  }
  .clients-img-card img {
    width: 169px !important;
    height: 65px !important;
  }
  .clients-container {
    align-items: flex-start;
    text-align: start;
    font: normal normal 900 40px/44px Archivo;
  }
  .clients-img-row {
    column-gap: 16px;
  }
}

@media (min-width: 1200px) {
  .clients-img-card {
    width: 310px;
    height: 120px;
  }
  .clients-img-card img {
    width: 169px !important;
    height: 65px !important;
  }
  .clients-container {
    align-items: flex-start;
    text-align: start;
    font: normal normal 900 40px/44px Archivo;
  }
  .clients-img-container {
    display: flex;
  }
  .clients-img-row {
    column-gap: 20px;
  }
}
