#a11yWidget .home-ilustration-container > div {
  width: fit-content;
  border: 2px solid;
  border-radius: 0.3rem;
}

/* #a11yWidget .presentation-main h1 { */ 
/* width: auto; */
/* width: 450px; */
/* } */
#a11yWidget .a11yBot-presentation-container {
  padding: 0 16px;
}

.layout-content.layout-a11yWidget {
  padding: 16px 0 0;
}

@media (max-width: 767.99px) {
  #a11yWidget .presentation-main h1 {
    width: auto;
    max-width: 450px;
  }
  #a11yWidget .a11yBot-presentation-container .privacy-policy-ilustration-container {
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 799.999px) {
  .layout-content.layout-a11yWidget {
    background: linear-gradient(#21ce99 1255px, white 20px) !important;
  }
}

@media (min-width: 800px) and (max-width: 954.999px) {
  .layout-content.layout-a11yWidget {
    background: linear-gradient(#21ce99 1156px, white 20px) !important;
  }
}

@media (min-width: 955px) and (max-width: 1200px) {
  /** layout */
  .layout-content.layout-a11yWidget {
    background: linear-gradient(#21ce99 1099px, white 20px) !important;
  }
}

@media screen and (min-width: 1200px) {
  /** layout */
  .layout-content.layout-a11yWidget {
    background: linear-gradient(#21ce99 860px, white 20px) !important;
  }
}

@media screen and (min-width: 1522px) {
  .layout-content.layout-a11yWidget {
    background: linear-gradient(#21ce99 750px, white 20px) !important;
  }
}
