.side-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-out;
  background-color: white;
  z-index: 200;
  border: 3px solid red;
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(+100%);
}

.side-drawer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 36px;
}

.side-drawer-links a {
  text-decoration-line: underline;
  text-decoration-color: black;
  color: black;
  margin-bottom: 24px;
}
