.top-divider {
  position: absolute;
  height: 55px;
  width: 100%;
  top: 0;
  background-size: auto 55px;
  transform: scaleY(-1);
}

.bottom-divider {
  position: absolute;
  height: 55px;
  width: 100%;
  bottom: 0;
  background-size: auto 55px;
}
